<title>Profile</title>
</head>

<body>
    <table>
        <tr>
            <th>
                First Name
            </th>
        </tr>
        <tr>
            <td>
                <%= @user.first_name%>
            </td>
        </tr>
        
    </table>
</body>
</html>
