<title>Edit</title>
</head>
<body>
<h1>Editing post</h1>

<%= form_for :post, url: user_post_path(@user , @post) , method: :patch do |f| %>
  <p>
    <%= f.label :Body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
</html>